button {
  all: unset;
  border-radius: .5rem;
  color: var(--text-highlight);
  cursor: pointer;
  font-weight: 500;
  padding: .75rem 1.5rem;

  &.btn-primary {
    background-color: #E43A12;
    color: white;

    &:hover, 
    &:focus {
      background-color: #F3541C;
    }
  }

  &.btn-secondary {
    border: 1px solid var(--text-highlight);
    margin-left: auto;

    &:hover, 
    &:focus {
      color: #E43A12;
      outline: .25rem solid var(--surface-secondary);
    }
  }
}