.terms-wrapper {
  align-items: flex-start;
  display: flex;
  gap: .75rem;
  margin-top: 3rem;

  & strong {
    color: var(--text-highlight);
    font-weight: 500;
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    inset: 0;
    position: absolute;
  }

  .checkbox-image {
    background-image: url("../../assets/icons/checkbox-default.svg");
    flex: 0 0 1.5rem;
    height: 1.5rem;
  }

  &:hover, &:focus-within {
    .checkbox-image {
      background-image: url("../../assets/icons/checkbox-hover.svg");
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url("../../assets/icons/checkbox-checked.svg");
  }
}