input, textarea, select {
  appearance: none;
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  font: var(--text);
  padding: .75rem 1rem;
  width: 100%;
}

label { 
  color: var(--text-secondary);
  display: block;
  font: var(--text-sm);
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  border: .125rem solid var(--stroke-highlight);
  outline: .25rem solid var(--surface-secondary);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  &::before {
    background: url(../../assets/icons/calendar-03.svg) center/contain;
    content: "";
    height: 1.25rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - .75rem);
}

.address .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
  }

  &:invalid {
    border: 0.125rem solid var(--semantic-error);
  }

  & + small {
    color: #78716C;
    display: inline-block;
    font: var(--text-sm);
    margin-top: .25rem;
  }

  &[required] + .error {
    align-items: center;
    color: var(--semantic-error);
    display: flex;
    font: var(--text-sm);
    gap: .25rem;
    margin-top: .25rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}