label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  display: grid;
  gap: .5rem;
  justify-items: center;
  padding: 2rem .5rem .5rem;
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    inset: 0;
    position: absolute;
  }

  .radio-image {
    background-image: url("../../assets/icons/radio-default.svg");
    height: 1.5rem;
    left: .5rem;
    position: absolute;
    top: .5rem;
    width: 1.5rem;
  }

  &:hover, &:focus-within {
    border: 1px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url("../../assets/icons/radio-hover.svg");
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url("../../assets/icons/radio-checked.svg");
    }
  }
}