@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

.actions-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  padding-top: 1rem; 
}

@media (width < 48rem) {
  fieldset {
    gap: 1.25rem;
  }

  .address .flex {
    flex-direction: column;
  }

  legend {
    margin-bottom: 1.25rem;
  }
}

@media (width < 64rem) {
  .actions-wrapper {
    flex-direction: column;
  }
}