#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    margin-left: auto;
    max-width: 33rem;
  }

  & .back {
    align-items: center;
    display: flex;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }
 
  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;

    & span {
      color: var(--text-highlight);
    }
  }
}

@media (width < 48rem) {
  #app {
    grid-template-columns: 100%;
    height: auto;
    overflow: auto;

    & main {
      grid-row: 2;
      padding: 1.5rem;
    }

    & aside {
      grid-row: 1;
      padding: 1.5rem;

      & .aside-container {
        margin-inline: auto;

        & header img {
          display: block;
          margin-inline: auto;
        }

        & header h2, & header p {
          display: none;
        }

        & > img {
          display: block;
          margin-top: .75rem;
        }
      }
    }
  }
}